.container-md {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  height: 4px;
  background-color: black;
  color: black;
  z-index: 1;
}

h1, h2, p {
  font-family: 'Alice', sans-serif;
}

.second-col {
  background-image: url('../../assets/images/clothing-image.png');
}
