<div class="container-md">
  <div class="row justify-content-center">
    <div class="col-md-3 mt-md-3 mt-sm-0 p-2 bg-light d-flex justify-content-center">
      <h1 class="display-1">La Talla Perfecta</h1>
    </div>
    <div class="row justify-content-center m-5">
      <div class="register-container col-md-4 py-2 bg-light d-flex justify-content-center align-self-center">
        <div class="col-md-12 m-3">
          <h2 class="text-center mb-4 font-weight-bold">Regístrate</h2>
          <p class="mt-1 mb-2 text-justify p-1">
            Regístrate en La Talla Perfecta para registrar tus compras, recibir información de tu interés ¡Y mucho más!
          </p>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo electrónico</label>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
              <small id="emailHelp" class="form-text text-muted">No compartiremos nunca tu correo electrónico con nadie más.</small>
            </div>
            <div class="form-group mt-3">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group mt-3">
              <label for="exampleFormControlTextarea1">Nombre de usuario</label>
              <input type="text" class="form-control" placeholder="Nombre de usuario" required>
            </div>
            <div class="form-group mt-3">
              <label for="exampleFormControlTextarea1">Nombre(s)</label>
              <input type="text" class="form-control" placeholder="Nombre(s)" required>
            </div>
            <div class="form-group mt-3">
              <label for="exampleFormControlTextarea1">Apellido(s)</label>
              <input type="text" class="form-control" placeholder="Apellido(s)" required>
            </div>
            <div class="form-group mt-3">
              <label for="exampleFormControlTextarea1">Dirección</label>
              <input type="text" class="form-control" placeholder="Dirección" required>
            </div>
            <div class="row justify-content-center p-1 m-4">
              <button type="submit" class="btn col-md-12 btn-secondary">Regístrate</button>
            </div>
            <p class="text-center">
              o
            </p>
            <div class="row justify-content-center p-1 m-4">
              <a routerLink="/login" class="btn col-md-12 btn-secondary">Inicia sesión</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
